Teste-Informações-cidades-e-estados-IBGE-20230221-13-14-58.xlsx
codigo_mun - teste.txt
webscrape_ibge_Mun.py
Captura de tela 2023-02-23 195242.jpg
Extração-Informações-cidades-e-estados-IBGE-20230223-21-26-05.xlsx